[black]
[tool.black]
exclude = '''
/(
    \
  |
    \.eggs
  | \.git
  | \.mypy_cache
  | meta/migrations
  | docs
  | .venv
  | venv
  | .ipynb
  | \.direnv
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  \.svn
  | _build
  | buck-out
  | build
  | dist
  | docs
)/
'''
line-length=79
