# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches:
      - main
      - dev
      - release/*

  pull_request:
    branches:
    - dev

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.7, 3.8 ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install cbc
        run: sudo apt install coinor-cbc

      # Set up python envs
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies via pip
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[aggregation]  # install extra requirement to pass all tests
          python -m pip install pytest coverage docutils check-manifest flake8 readme-renderer pygments isort

      - name: Test with pytest
        run: |
          coverage run -m pytest tests

      - name: Lint
        run: |
          python setup.py check --strict --metadata --restructuredtext
          check-manifest .
          black --check . --exclude "\.direnv|\.eggs|\.git|\.hg|\.mypy_cache|\.nox|\.tox|\.venv|venv|\.svn|_build|buck-out|build|dist|docs"
          flake8 src tests
          isort --verbose --check-only --diff src tests
